* {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    ;
    color: white;
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    text-align: center;
    background-color: #0f0f0f;
}

body::-webkit-scrollbar {
    background-color: #0f0f0f;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #043b026b;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #021b016b;
}

img {
    margin: 2px 0;
    size: 3em;
}

#introduction {
    width: 100%;
    background-color: rgba(8, 68, 5, 0.726);
    /* background-image: url(/imgs/fondomc.jpg); */
}

.welcome {
    padding: 1em 0;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 2px;
}

h4 {
    font-style: italic;
    margin: 3px 0 10px 0;
}

#abstract {
    margin: 0 3em;
    padding: 20px 0 0;
    font-size: 18px;
}

.inicial-text {
    font-size: 14px;
}

#playone {
    margin: 20px;
    padding: 10px;
}

#playone p {
    font-style: italic;
    font-size: 18px;
    margin: 0px 0 20px;
}

.elections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.elections img {
    width: 90%;
    min-width: 90px;
    margin: 0 auto;
}

label {
    border: rgba(8, 119, 4, 0.507);
    background-color: #0877040e;
    border-style: solid;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 700;
    padding: 8px 40px;
    margin: 1em 1em;
    transition: all 0.3s ease;
    width: 7em;

}

label:hover {
    background-color: #08770462;
}

input[type="radio"]:checked+label {
    background-color: #08770462;
}

.button-choice {
    appearance: none;
    cursor: pointer;
    flex: 3 1 1;
}

#button-combat {
    background-color: #f5640c;
    font-size: 18px;
    padding: 12px;
    margin-top: 2%;
    margin-bottom: 3%;
    border-style: none;
    border-radius: 10px;
}

#button-combat:hover {
    background-color: #883908;
}

#button-combat:active {
    animation: button-combat 0.5s;
}

@keyframes button-combat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

#information {
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em 3.5em;
}

.data {
    background-color: #043b026b;
    padding: 0.6em 1em;
    font-size: 18px;
    flex: 1 2;
    /*Si coloco 1 1 auto --> el auto es el flex-basis que acomoda el tamaño dependiendo de lo que contenga*/
    max-width: 200px;
    border-radius: 18px;
}

.button-restart {
    background-color: #b61c1cbe;
    padding: 0 6px;
    height: 3em;
    font-size: 18px;
    flex: 1 2;
    max-height: 90px;
    border-style: initial;
    border-radius: 10px;
}

.button-restart:hover {
    background-color: #8a050598;
}

.button-restart:active {
    animation: button-restart 0.5s;
}

@keyframes button-restart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* footer{
    background-color: #45c53f70;
    margin: 1em 0 0;
    font-size: x-small;
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
} */