:root {
    --nacionalgreen: #0844058e;
    --postnacionalgreen: #084405b7;
    --box-shadow: 0 3px 6px 3px rgba(20, 420, 1, .1);
}

* {
    font-family: 'Rowdies', cursive;
    /* font-family: 'VT323', monospace; */
    font-weight: 0;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body::-webkit-scrollbar {
    background-color: #0f0f0f;
    width: 0.2em;
}

body::-webkit-scrollbar-thumb {
    background-color: #043b026b;
    border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #021b016b;
}

button,
.shadow {
    box-shadow: 1px 1px 12px 5px #0f0f0f;
    transition: 0.5s;
}

button:active {
    animation: button-animation 0.5s;
}

@keyframes button-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

header {
    background-image: url(./imgs/fondo_piedra.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 15px 8px #0f0f0f;
}

header img:hover {
    /* background: url(/imgs/logoCambiante.gif); */
    transform: scale(1.08);
}

#introduction {
    width: 100%;
    background-color: var(--nacionalgreen);
    box-shadow: 3px 3px 18px 6px #0f0f0f;
}

#introduction #welcome {
    padding: 1em 0;
}

#introduction #welcome h1 {
    margin: 0 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px #f8f8f87a;
}

#introduction #welcome h3 {
    margin: 3px 0 10px 0;
    font-style: italic;
    letter-spacing: 1px;
}

#explanation #inicial-text {
    margin: 0 auto;
    padding: 0 60px;
    font-size: 16px;
}

#first-window {
    width: 90%;
    margin: 30px auto;
    font-size: large;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

#first-window #players {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#first-window #players .player-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#first-window #players .player-name .names {
    background: var(--nacionalgreen);
    width: 50%;
    height: 3em;
    flex: 1 1 auto;
    padding-left: 10px;
    border-style: none;
    font-size: larger;
    transition: 0.5s;
}

#first-window #players .player-name .colors {
    border-style: none;
    background: none;
    width: 3em;
    height: 3em;
}

#first-window #rounds {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
}

#first-window #rounds p {
    margin-bottom: 10px;
    font-size: 25px;
}

#first-window #rounds #number-rounds {
    align-self: center;
    width: 12em;
}

#first-window #rounds #range-value {
    font-size: 24px;
}

.next-player {
    background-color: var(--nacionalgreen);
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    font-size: x-large;
    margin-top: 2em;
    padding: 12px;
}

.next-player:hover {
    background: var(--postnacionalgreen);
}

#playone,
#playtwo {
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-elect {
    font-style: italic;
    font-size: 18px;
    margin: 0px 0 20px;
}

/* #playone .text-elect #name-play-one, #information .data #name-player-1 {
    color: #f5640c;
}

#playtwo .text-elect #name-play-two, #information .data #name-player-2{
    color: cornflowerblue;
} */

.elections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.elections img {
    width: 90%;
    min-width: 90px;
    margin: 0 auto;
}

.elections label {
    background-color: #0877040e;
    border: rgba(8, 119, 4, 0.74);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    font-size: 20px;
    font-weight: 700;
    padding: 6px 9px;
    flex-grow: 2;
    max-width: 10em;
    transition: all 0.3s ease;
    cursor: pointer;
}

.elections label:hover {
    background-color: #08770462;
}

input[type="radio"]:checked+label {
    background-color: #08770462;
}

.button-choice {
    appearance: none;
    display: none;
}

#combat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    margin: 50px;
}

#combat #button-combat {
    background-color: #f5640c;
    font-size: 30px;
    padding: 12px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 2px;

}

#combat #button-combat:hover {
    background-color: #883908;
}

#conclusion {
    display: flex;
    margin: 1em 1em;
    flex-direction: column;
    gap: 1em;
}

#conclusion #msg-combat {
    font-size: xx-large;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    color: darkgreen;
}

#information {
    display: flex;
    width: 50%;
    margin: 30px auto 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* flex-grow: 2; */
    gap: 2em;
}

#information .data {
    background-color: #043b026b;
    box-shadow: 1px 1px 18px 6px #0f0f0f;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 18px;
    flex-grow: 2;
    flex-shrink: 1;
    min-width: 150px;
    letter-spacing: 1px;
}

#restart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart #button-restart {
    background-color: #b61c1cbe;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    border-style: initial;
    border-radius: 10px;
    cursor: pointer;
}

#restart #button-restart:hover {
    background-color: #8a050598;
}

#restart #button-restart:active {
    animation: button-restart 1.5s;
}

@keyframes button-restart {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

#replay {
    margin: 32px auto;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

#replay #button-replay {
    background-color: #0a065adc;
    border-style: none;
    border-width: 1px;
    border-radius: 10px;
    padding: 16px 12px;
    font-size: 17px;
    max-height: 60px;
    letter-spacing: 1px;
}

#replay #button-replay:hover {
    background-color: #08053ddc;
}

footer {
    background-image: url(/imgs/fondo_piedra.png);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    font-size: small;
    font-weight: 500;
    padding: 8px 10px;
}